{{!-- <html>
<head>
<title>Naga/GHR/ER – 12 MONTHS BARRED</title>
</head>

<body> --}}
<span>Dear All,</span>
<p>Please be informed that {{ data.full_name }} will be BARRED from returning to the company premises WITHIN 12 MONTHS. Details of employee with photograph and barred period as provided below and attached:</p>
<ul>
    <li>Employee ID and Name: {{ data.emp_code }} - {{ data.name }}</li>
    <li>Position: {{ data.position }}</li>
    <li>Department: {{ data.dept_name }}</li>
    <li>Barred Period: {{ data.barred_period}}</li>
</ul>
<p>Kindly enforce and execute this if the aforesaid ex-employee returning to the company premises without prior approval from the management. Should there be any inquiries, please do not hesitate to contact Group HR-Employee Relations Team for clarification at 30434, 30402, 30472, 30403 and 30413 (during office hours).</p>
{{!-- </body>

</html> --}}