{{!-- <html>
<head>
<title>Naga/GHR/ER - Email Deactivation and Delegation</title>
</head>

<body> --}}
<span>Dear IT Team,</span>
<p>With effect from {{ data.start_date }}, please help to deactivate the email account and other company access under {{ data.full_name }} name. Details of employee and email address/delegation provided below:</p>
<ul>
    <li>Employee ID and Name: {{ data.emp_code }} - {{ data.name }}</li>
    <li>Position: {{ data.position }}</li>
    <li>Department: {{ data.dept_name }}</li>
    <li>Email address: {{ data.email }}</li>
</ul>

<p><strong>Incoming Email(s) Delegate to: </strong></p>
<ul>
    <li>Employee ID and Name: {{ data.dest_emp_code }} - {{ data.dest_name }}</li>
    <li>Position: {{ data.dest_position }}</li>
    <li>Department: {{ data.dest_dept_name }}</li>
    <li>Email address: {{ data.dest_email }}</li>
</ul>

<p>Should there be any inquiries, please do not hesitate to contact Group HR-Employee Relations Team for<br/>
 clarification at 30434, 30402, 30472, 30403 and 30413 (during office hours).</p>
{{!-- </body>

</html> --}}

